USE [master]
GO
/****** Object:  Database [WordMemoryDB]    Script Date: 26.05.2026 19:43:38 ******/
CREATE DATABASE [WordMemoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WordMemoryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WordMemoryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WordMemoryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WordMemoryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WordMemoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WordMemoryDB]
GO
/****** Object:  Table [dbo].[QuizResults]    Script Date: 26.05.2026 19:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizResults](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[WordID] [int] NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[AnswerDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.05.2026 19:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 26.05.2026 19:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[NewWordCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWordProgress]    Script Date: 26.05.2026 19:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWordProgress](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[WordID] [int] NOT NULL,
	[CorrectStreak] [int] NULL,
	[CurrentStep] [int] NULL,
	[NextQuizDate] [datetime] NULL,
	[IsLearned] [bit] NULL,
	[LastAnswerDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordChainStories]    Script Date: 26.05.2026 19:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordChainStories](
	[StoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SelectedWords] [nvarchar](500) NULL,
	[StoryText] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 26.05.2026 19:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[WordID] [int] IDENTITY(1,1) NOT NULL,
	[EngWordName] [nvarchar](100) NOT NULL,
	[TurWordName] [nvarchar](100) NOT NULL,
	[PicturePath] [nvarchar](255) NULL,
	[AudioPath] [nvarchar](255) NULL,
	[Category] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordSamples]    Script Date: 26.05.2026 19:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordSamples](
	[SampleID] [int] IDENTITY(1,1) NOT NULL,
	[WordID] [int] NOT NULL,
	[SampleSentence] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SampleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QuizResults] ON 

INSERT [dbo].[QuizResults] ([ResultID], [UserID], [WordID], [IsCorrect], [AnswerDate]) VALUES (1, 1, 1, 1, CAST(N'2026-05-23T02:03:09.970' AS DateTime))
INSERT [dbo].[QuizResults] ([ResultID], [UserID], [WordID], [IsCorrect], [AnswerDate]) VALUES (2, 1, 2, 0, CAST(N'2026-05-23T02:03:09.970' AS DateTime))
INSERT [dbo].[QuizResults] ([ResultID], [UserID], [WordID], [IsCorrect], [AnswerDate]) VALUES (3, 1, 3, 1, CAST(N'2026-05-23T02:03:09.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuizResults] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Email], [Password], [CreatedDate]) VALUES (1, N'eslemozbek', N'eslem@example.com', N'12345', CAST(N'2026-05-23T01:39:21.020' AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [Email], [Password], [CreatedDate]) VALUES (2, N'nur', N'nur@example.com', N'12345', CAST(N'2026-05-23T02:23:44.887' AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [Email], [Password], [CreatedDate]) VALUES (3, N'ali', N'ali@gmail.com', N'0004', CAST(N'2026-05-23T02:31:20.197' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserSettings] ON 

INSERT [dbo].[UserSettings] ([SettingID], [UserID], [NewWordCount]) VALUES (1, 1, 10)
SET IDENTITY_INSERT [dbo].[UserSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[UserWordProgress] ON 

INSERT [dbo].[UserWordProgress] ([ProgressID], [UserID], [WordID], [CorrectStreak], [CurrentStep], [NextQuizDate], [IsLearned], [LastAnswerDate]) VALUES (1, 1, 1, 1, 1, CAST(N'2026-05-23T03:43:13.237' AS DateTime), 0, CAST(N'2026-05-23T02:06:05.343' AS DateTime))
INSERT [dbo].[UserWordProgress] ([ProgressID], [UserID], [WordID], [CorrectStreak], [CurrentStep], [NextQuizDate], [IsLearned], [LastAnswerDate]) VALUES (2, 1, 2, 0, 0, CAST(N'2026-05-23T03:43:13.237' AS DateTime), 0, CAST(N'2026-05-23T02:08:06.207' AS DateTime))
INSERT [dbo].[UserWordProgress] ([ProgressID], [UserID], [WordID], [CorrectStreak], [CurrentStep], [NextQuizDate], [IsLearned], [LastAnswerDate]) VALUES (3, 1, 3, 0, 0, CAST(N'2026-05-23T03:43:13.237' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[UserWordProgress] OFF
GO
SET IDENTITY_INSERT [dbo].[Words] ON 

INSERT [dbo].[Words] ([WordID], [EngWordName], [TurWordName], [PicturePath], [AudioPath], [Category], [CreatedDate]) VALUES (1, N'Apple', N'Elma', N'/Uploads/Words/apple.jpg', NULL, N'Food', CAST(N'2026-05-23T01:49:29.417' AS DateTime))
INSERT [dbo].[Words] ([WordID], [EngWordName], [TurWordName], [PicturePath], [AudioPath], [Category], [CreatedDate]) VALUES (2, N'Book', N'Kitap', N'/Uploads/Words/book.jpg', NULL, N'Object', CAST(N'2026-05-23T01:49:29.417' AS DateTime))
INSERT [dbo].[Words] ([WordID], [EngWordName], [TurWordName], [PicturePath], [AudioPath], [Category], [CreatedDate]) VALUES (3, N'Cat', N'Kedi', N'/Uploads/Words/cat.jpg', NULL, N'Animal', CAST(N'2026-05-23T01:49:29.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[Words] OFF
GO
SET IDENTITY_INSERT [dbo].[WordSamples] ON 

INSERT [dbo].[WordSamples] ([SampleID], [WordID], [SampleSentence]) VALUES (1, 1, N'I eat an apple every day')
INSERT [dbo].[WordSamples] ([SampleID], [WordID], [SampleSentence]) VALUES (2, 1, N'The apple is red')
INSERT [dbo].[WordSamples] ([SampleID], [WordID], [SampleSentence]) VALUES (3, 2, N'I read a book')
SET IDENTITY_INSERT [dbo].[WordSamples] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534B6498B15]    Script Date: 26.05.2026 19:43:39 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QuizResults] ADD  DEFAULT (getdate()) FOR [AnswerDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT ((10)) FOR [NewWordCount]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  DEFAULT ((0)) FOR [CorrectStreak]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  DEFAULT ((0)) FOR [CurrentStep]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  DEFAULT (getdate()) FOR [NextQuizDate]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  DEFAULT ((0)) FOR [IsLearned]
GO
ALTER TABLE [dbo].[WordChainStories] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Words] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[QuizResults]  WITH CHECK ADD  CONSTRAINT [FK_QuizResults_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[QuizResults] CHECK CONSTRAINT [FK_QuizResults_Users]
GO
ALTER TABLE [dbo].[QuizResults]  WITH CHECK ADD  CONSTRAINT [FK_QuizResults_Words] FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
GO
ALTER TABLE [dbo].[QuizResults] CHECK CONSTRAINT [FK_QuizResults_Words]
GO
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD  CONSTRAINT [FK_UserSettings_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserSettings] CHECK CONSTRAINT [FK_UserSettings_Users]
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD  CONSTRAINT [FK_Progress_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserWordProgress] CHECK CONSTRAINT [FK_Progress_Users]
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD  CONSTRAINT [FK_Progress_Words] FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
GO
ALTER TABLE [dbo].[UserWordProgress] CHECK CONSTRAINT [FK_Progress_Words]
GO
ALTER TABLE [dbo].[WordChainStories]  WITH CHECK ADD  CONSTRAINT [FK_WordChainStories_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[WordChainStories] CHECK CONSTRAINT [FK_WordChainStories_Users]
GO
ALTER TABLE [dbo].[WordSamples]  WITH CHECK ADD  CONSTRAINT [FK_WordSamples_Words] FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
GO
ALTER TABLE [dbo].[WordSamples] CHECK CONSTRAINT [FK_WordSamples_Words]
GO
USE [master]
GO
